extends templates/master

block content
  .content-section
   #hero-carousel.content-section__carousel
    .content-section__carousel-item
      .content-section__carousel-copy
        h2 Explore Limitless 2.0
        h3 people inspired phone protection
        a(href="#" title="link to store").btn.btn--black See in Store
      img(src="/images/slideshow-1.png" alt="slideshow img" )
    .content-section__carousel-item
      .content-section__carousel-copy
        h2 Explore Limitless 2.0
        h3 people inspired phone protection
        a(href="#" title="link to store").btn.btn--black See in Store
      img(src="/images/slideshow-2.png" alt="slideshow img" )
    .content-section__carousel-item
      .content-section__carousel-copy
        h2 Explore Limitless 2.0
        h3 people inspired phone protection
        a(href="#" title="link to store").btn.btn--black See in Store
      img(src="/images/slideshow-3.png" alt="slideshow img" )

  .content-section
    .content-section__grid1x2
      section.content-section__main-left
      section.content-section__main-right
        section.content-section__side-top
        section.content-section__side-bottom
