footer.footer
  .footer-box
    ul.footer-box__list
      li.footer-box__item
        h3 About Mous
      li.footer-box__item
        a(href="#" title="iPhone cases page link" target="_blank") iPhone cases
      li.footer-box__item
        a(href="#" title="Samsung cases page link" target="_blank") Samsung cases
      li.footer-box__item
        a(href="#" title="About us page link" target="_blank") About us
      li.footer-box__item
        a(href="#" title="Reviews page link" target="_blank") Reviews
      li.footer-box__item
       a(href="#" title="Careers page link" target="_blank") Careers
      li.footer-box__item
        a(href="#" title="Student Discount page link" target="_blank") Student Discount
      li.footer-box__item
        a(href="#" title="Shipping & Delivery page link" target="_blank") Shipping & Delivery
    ul.footer-box__list
      li.footer-box__item
        h3 Support
      li.footer-box__item
        a(href="#" title="Help & Contact page link" target="_blank") Help & Contact
      li.footer-box__item
        a(href="#" title="Tutorials page link" target="_blank") Tutorials
      li.footer-box__item
        a(href="#" title="Warranty page link" target="_blank") Warranty
      li.footer-box__item
        a(href="#" title="Privacy page link" target="_blank") Privacy
      li.footer-box__item
       a(href="#" title="Terms page link" target="_blank") Terms


    .footer-box__newsletter
      h3 Join our newsletter
      form.footer-box__form
        label.visually-hidden(for='search-key') Search:
        input#sign-up(title='newsletter keyword', placeholder='Email', name='newsletter-key', type='text')

        a(href="#").btn.btn--grey.btn--square Sign Up
