header.header
  .header__box
    span.icon-hamburger.header__menu#open-sidenav
    a(href="https://uk.mous.co/" title="Mous website link")
      img.header__logo(src="./images/logo.svg" alt="mous logo" )
    a(href="#" title="link to shopping cart").header__cart.icon-cart

 
