#sidenav.sidenav
  span#close-sidenav.sidenav__close.icon-close-white-bg

  .sidenav__list-box
    ul.sidenav__list
      li.sidenav__item
        a(href="#" title="iPhone cases page link" target="_blank") iPhone cases
      li.sidenav__item
        a(href="#" title="Samsung cases page link" target="_blank") Samsung cases
      li.sidenav__item
        a(href="#" title="About us page link" target="_blank") About us
      li.sidenav__item
        a(href="#" title="Reviews page link" target="_blank") Reviews
      li.sidenav__item
       a(href="#" title="Careers page link" target="_blank") Careers
      li.sidenav__item
        a(href="#" title="Student Discount page link" target="_blank") Student Discount
      li.sidenav__item
        a(href="#" title="Shipping & Delivery page link" target="_blank") Shipping & Delivery
      li.sidenav__item
        a(href="#" title="Help & Contact page link" target="_blank") Help & Contact
      li.sidenav__item
        a(href="#" title="Tutorials page link" target="_blank") Tutorials
      li.sidenav__item
        a(href="#" title="Warranty page link" target="_blank") Warranty
      li.sidenav__item
        a(href="#" title="Privacy page link" target="_blank") Privacy
      li.sidenav__item
       a(href="#" title="Terms page link" target="_blank") Terms
